@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff"),
  url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff") format("woff"),
  url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff") format("woff"),
  url("../fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@layer base {
  * {
    margin: 0;
  }
  body {
    max-width: 760px;
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--background);
    color: var(--text);
    font-family: "Lato";
    font-weight: 400;
  }
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: #FFFFFF;
    --text: #151515;
    --black: #FFFFFF;
  }

  .dark {
    --background: #1F1F1F;
    --text: #FFFFFF;
    --title: #151515;
    --black: #151515;
  }
}