@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff"),
  url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff") format("woff"),
  url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff") format("woff"),
  url("../fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@layer base {
  * {
    margin: 0;
  }
  body {
    max-width: 760px;
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
    overflow-x: hidden;
  }
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: #FFFFFF;
    --text: #151515;
    --black: #FFFFFF;
    --dark-gray: #F2F2F2;
    --red: #D43A3A;
    --gray: #4C4C52;
    --icon-bg: linear-gradient(252deg, rgba(249, 114, 57, 0.12) 0%, rgba(237, 47, 138, 0.12) 51.5%, rgba(46, 138, 235, 0.12) 100%);
    --red-light: #D43A3A;
    --red-transparent: rgba(251, 25, 25, 0.15);
    --green: #07b195;
    --button-pink: #ef2a7b;
    --hover-stroke: #d1d1d1;
    --input-text: #969696;
    --stroke: #d1d1d1;
    --shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.26);
    --red-err: #f6d5d5;
    --bg-blur: rgba(0, 0, 0, 0.6);
    --dot: #d1d1d1;
    --secondary-100: rgba(0, 0, 0, 0.06);
    --navbar-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.26);
    --avatar-border: #FFFFFF;
    --swiper-text: #4c4c52;
    --category-item: #FFFFFF;
  }

  .dark {
    --background: #1F1F1F;
    --text: #FFFFFF;
    --title: #151515;
    --black: #151515;
    --dark-gray: #262626;
    --red: #D43A3A;
    --gray: #969696;
    --icon-bg: rgba(255, 255, 255, 0.06);
    --red-light: #FFFFFF;
    --red-transparent: rgba(251, 25, 25, 0.15);
    --green: #07b195;
    --button-pink: #ef2a7b;
    --hover-stroke: rgba(255, 255, 255, 0.24);
    --input-text: #62626a;
    --stroke: #1f1f1f;
    --shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.49);
    --red-err: #331e1e;
    --bg-blur: rgba(0, 0, 0, 0.6);
    --dot: #4c4c52;
    --secondary-100: rgba(255, 255, 255, 0.06);
    --navbar-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.49);
    --avatar-border: #969696;
    --swiper-text: #969696;
    --sdd-ds: #ffffff1c;
    --category-item: #4c4c52;
  }
}

.icon-bg {
  background: var(--icon-bg);
}

input {
  outline: none;
}

/* phone */
.react-international-phone-input-container {
  height: 44px;

}
.react-international-phone-country-selector {
  min-width: 110px;
  height: 100%;
  border: none;
}
.react-international-phone-country-selector button {
  width: 100%;
  height: 100%;
  background: var(--dark-gray);
  border-radius: 12px 0 0 12px !important;
  border: none;
  border-right: 1px solid var(--stroke);
  padding: 10px 16px;
}
.react-international-phone-country-selector-button__button-content {
  width: 100%;
  justify-content: space-between;
}
.react-international-phone-input-container .react-international-phone-input {
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  border-radius: 0 12px 12px 0;
  background: var(--dark-gray);
  border: none;
  color: var(--input-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.react-international-phone-input-container .react-international-phone-input::placeholder {
  color: var(--input-text);
}
.react-international-phone-country-selector-button:hover {
  background: var(--dark-gray);
}
.react-international-phone-country-selector-dropdown {
  background-color: var(--dark-gray);
  border-radius: 16px;
  box-shadow: var(--shadow);
  border: none;
}
.react-international-phone-country-selector-dropdown__list-item {
  padding: 10px 12px;
}
.react-international-phone-country-selector-dropdown__list-item-dial-code,
.react-international-phone-country-selector-dropdown__list-item-country-name,
.react-international-phone-country-selector-dropdown__list-item--selected .react-international-phone-country-selector-dropdown__list-item-dial-code, .react-international-phone-country-selector-dropdown__list-item--focused .react-international-phone-country-selector-dropdown__list-item-dial-code {
  color: var(--text)
}
.react-international-phone-country-selector-dropdown__list-item--focused {
  background-color: var(--dark-gray);
}
.react-international-phone-country-selector-dropdown__list-item:hover {
  background-color: var(--dark-gray);
}
.react-international-phone-country-selector-dropdown__list-item-country-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.item-navbar svg path {
  fill: var(--button-pink);
}
.arrow svg{
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
}

/* swiper */
.swiper-wrapper {
  width: 300px;
}
.swiper-pagination-bullet-active {
  background: var(--text);
}
.transaction-arrow svg {
  transform: rotate(180deg);
}
.transaction-arrow svg path {
  fill: var(--text);
}